@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  display: flex;
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mpc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262626;
  padding-left: 20px;
  padding-right:20px;
}

/* Drumpads */
.pad-container {
  padding-top:20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto auto
}

.drumpad {
  width:100px;
  height:60px;
  border-width: 1px;
  margin-top: 10px;
}

/* Pad bank - Switch drum kits */

.kit-controls {
  display: flex;
  justify-content: center;
}

.kit-controls-margin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width:90%;
}

.kit-selected-title {
  color:#FFF;
  margin-top:15px;
}

.kit-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:40px;
  background-color: lightskyblue;
  color:#000;
}

.kit-text {
  text-align: center;
  margin-top:15px;
}

.kit-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-20px;
  height:70px;
  width:100%;
}

.kit-row-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pad-bank-title {
  color:#FFF;
  margin:0;
}

.pad-bank-container {
  display: flex;
  justify-content: space-between;
}

.pad-bank-btn {
  width: 40px;
  margin-top: 10px;  
}

.how-to-use {
  text-align: center;
  margin-top: 25px;
  color:#FFF;
}

@media only screen and (min-width: 768px) {
  .drumpad {
    width:100px;
    height: 100px;
  }
}

@media only screen and (max-width: 430px) {
  .drumpad {
    width:50px;
    height: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .mpc {
    margin-top: 80px;
    flex-direction: row;
    width:70%;
  }

  .drumpad {
    width:100px;
    height: 100px;
  }

  .kit-selected-title {
    margin-top: 40px;
  }
}
